.heading {
    color: blue;
    text-align: start;

}
.my-list {
    text-decoration: underline;
}
.my-list-element {
    font-weight: bold;
}
#special-heading {
    font-size: 40px;
    color: red;
}
.section {
    margin: 15px;
    padding: auto;
    border: 2px black solid;
}
.section-ordnered-list {
    background-color: bisque;
}
.section-shoping-list {
background-color: azure;
}
.section-carrot-cake {
    background-color: bisque;
}