body {
    margin: 0;
    font-size: 16px;
}
.social-links .link {
    color: teal;
}

.social-links .link:hover {
    color: tomato;
}
.social-links .link:focus {
    color: orange;
}


/* .social-links .link:hover,
.social-links .link:focus {
    color: orange; 
}*/

.social-links .link:active {
    color: red;
}
.social-links .link:visited {
    color: green;
}
.rgba {
    color: rgb(22, 6, 68);
}
.hex {
    color: #3a971b;
    opacity: 0,5;
}
.main {
    background-color: #3b4b9a;
}
.text {
   width: 70%;
   height: 200px; 
   background-color: #141604;
   color: rgb(223, 235, 223);
   font-size: 18px;
   /* text-align: center;
   text-indent: 25%; */
}
.em-ptactice {
background-color: #42ac22;
margin: 1em;
}
section {
    font-size: 30px;
}