* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-size: 18px;
}
.box-content {
 
  height: 400px;
  width: 400px;
  padding: 30px 40px;
  border: 5px solid #000;

  background-color: aqua;
  
  margin-left: auto; 
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 60px;
 

  font-size: 14px;
}

a {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  border: 2px solid tomato;
  width: 400px;
  height: 200px;

  overflow: auto;
}

button {
  display: inline-block;
  margin-top: 30px;
  width: 360px;
  font: inherit;
}
img {
  display: block;
  min-width: 100%;
}

.thumb {
  border: 10px solid green;
  border-radius: 50px;
  width: 480px;

  overflow: hidden;
}