body {
  color: purple;
  font-size: 20px;
}

section {
  border: 5px solid black;
}
section > p {
  color: initial;
  border: inherit;
}

/* unset */



/* Unterschied zu inital: nicht vom Browser erben
sondern vom Elternelement */
/* man kann nur Eigenschaften damit erben die vererbbar sind */
.reset {
  font-size: unset;
}

p {
  font-family: Arial, sans-serif;
  color: blue;
  font-size: 10px;
}