/* CSS snippet 1 - 0001*/
p {
    color: red;
}
/* CSS snippet 2 - 0100*/
#special {
    color: blue;
}
/* CSS snippet 3 - 0010*/
.text {
    color: green;
}
/* CSS snippet 4 - 0101*/
#container p {
    color: purple;
}